.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.loader {
  --size: 25px;

  position: relative;
  width: var(--size);
  height: var(--size);
  &::before {
    content: '';
    position: absolute;
    width: var(--size);
    height: var(--size);
    border: 1px var(--slate-blue) solid;
    border-radius: 50%;
    opacity: 1;
    animation: betta 0.35s infinite linear;
    transform: scale(1, 1);
  }
  &::after {
    content: '';
    position: absolute;
    width: var(--size);
    height: var(--size);
    border: 1px var(--slate-blue) solid;
    border-radius: 50%;
    opacity: 0;
    animation: alfa 0.35s infinite linear;
    transform: scale(0, 0);
  }
}

@keyframes alfa {
  from {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes betta {
  from {
    opacity: 1;
    transform: scale(1, 1);
  }
  to {
    opacity: 0;
    transform: scale(1.5, 1.5);
  }
}
