:root {
  --slate-blue: #63729a;
  --pale-grey: #dadde5;
  --dark-slate-blue: #22366d;
  --cloudy-blue: #babfd3;
  --dodger-blue: #4e78f6;
  --orangey-red: #f63d3a;
  --dark-seafoam-green: #3ab084;
  --golden-rod: #f9bc00;
  --dirty-pink: #d77d81;
  --off-white: #f4ede7;
  --white: #fff;
  --light-periwinkle: #d0dbfc;
  --pale-grey-three: #f6f8fe;
  --light-navy: #122966;
  --dark: #2a343e;
  --dark-grey-blue: #343b73;
  --light-periwinkle-two: #c2dbff;
  --pale-grey-four: #ecf4ff;
  --pale-grey-five: #f0f5ff;
  --bluey-grey: #97a1bc;
  --marigold-40: #facc0166;
  --pale-grey-two: #f5f7f9;
  --aqua-marine: #44d7d3;
  --weird-green: #4bd964;
  --marigold: #facc01;
  --tangerine: #f89505;
  --orangey-red-two: #f53a30;
  --clear-blue: #2f79ff;
  --purply: #8e44ad;
  --robin-s-egg: #5ac7fa;
  --warm-blue: #5756d6;
}
