@import-normalize;

@import '~styles/fonts.css';
@import '~styles/colors.css';
@import '~styles/breakpoints.css';

*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  font: inherit;
}

html {
  box-sizing: border-box;
  min-width: 320px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body.font-loaded {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-grow: 1;
}
